/*constant UX*/
body
{
	margin:0px;
	font-family: "Lato", sans-serif;
	background-color: #FAFAFA;
}
/*header Ux*/
header
{
	height: 64px;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;

	

	background-color: #111;
	color: white;
}
ul
{
	list-style: none;
}
.conteneur
{
	max-width: 1280px;
	height: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	align-items: center;

	justify-content: space-between;

}
.logo
{
	height: 128px;
	width: 34px;
}
nav
{
	display: flex;
	align-items: center;
}

#mini
{
	width: 32px;
	height: 32px;

	display: none;
}
.navO
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* logo s4ir*/
.logo
{
	width: 128px;
	height: 34px;
}
.nv
{
	margin-left: 42px;
	margin-right: 42px;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
}

.f_nv
{	
	font-size: 1.2em;
	color: white;
	text-decoration: none;
}
li
{
	margin-top: 16px;
}
.nvsm
{
	margin-right: 16px;
}
.SML
{
	width: 32px;
	height: 32px;

}

.h_l
{
	height: 34px
	width:128px;

}


/*footer Ux*/
footer
{
	padding-top: 32px;
	background-color: #111;

	color: white;
}

.f_conteneur
{
	margin: 8px;
}

.f_conteneur2
{
	max-width: 1820px;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100%;
}
.fnvm
{
	width: 260px;
	height: 300px;
	
	margin: 8px;
}
.f_l
{
	width: 260px;
	height: 120px;

	margin: 8px 56px 8px 8px;
	padding-top: 16px;
}

/*logo kbir*/
.f_logo
{
	width: 256px;
	height: 68px;

	
	background-color: white;
}
.f_nvml
{
	padding-left: 32px;
	margin-top: 64px;

	border-left: 1px #5d5d5d solid;
}

.frame_down
{
	height: 52px;
	padding-left: 32px;
	padding-right: 16px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px #5d5d5d solid;
}


.sidenav {

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #EC2235;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.links
{
	max-width: 720px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	margin-left: auto;
	margin-right: auto;
}

a:hover
{
	color: #ED2034;
}
span:hover
{
	color: #EC2235;
}