/*Min whidth 1064px*/
.Home_banner
{
	width: 100%;
	margin-top: 32px;
	margin-bottom: 32px;
	padding-top: 128px;
	padding-bottom:128px;

	
	display: flex;

}
.banner_frame
{
	max-width: 1200px ;
	margin-right: auto;
	margin-left: auto;
}

.store_frame
{
	margin: 8px;
}

.store
{
	max-width: 1920px;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.title
{
	width: 1620px;
	height: 100px;
	padding-left: 16px;

	background-color: red;
}
.article
{
	padding: 4px;
	display: flex;
	align-items: center;
}
.photo
{
	width: 400px;
	height: 400px;
	background-color: orange;
	margin: 8px;
}
.discription
{
	height: 350px;
	width: 600px;
	background-color: cyan;


}